.upper-container {
  position: fixed;
  z-index: 10;
  width: 100%;
  margin: 0 auto;
  display: flex;
  top: 0px; }

.menu {
  display: flex;
  padding: 5px;
  width: 100%;
  background-color: white;
  height: 40px; }

.menu__list {
  list-style-type: none;
  display: flex;
  width: 100%;
  font-family: "Work Sans", sans-serif;
  justify-content: space-around;
  margin: 2px auto;
  width: 100%;
  top: 0; }

.menu__item {
  background-color: white; }

.menu__link {
  width: 70px;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: white;
  border: 1px solid #32afa3;
  display: block;
  font-size: 15px;
  margin: 0 auto;
  transition: all .3s ease-in-out; }
  .menu__link:link {
    text-decoration: none; }
  .menu__link:hover {
    cursor: pointer;
    transform: scale(1.2); }
  .menu__link:active {
    box-shadow: 0 0 1rem #495f77; }
  .menu__link:visited {
    color: black; }

@media (max-width: 576px) {
  .col-sm-12 {
    margin-top: 0px;
    margin-bottom: 0px;
    flex-direction: column; }
  .upper-container {
    position: fixed; }
  .menu {
    align-items: center;
    padding: 0;
    width: 50px;
    height: 100vh;
    left: -15px; }
  .menu__list {
    flex-direction: column;
    align-items: center;
    width: 70px;
    height: 100vh; }
  .menu__item {
    margin-top: auto;
    margin-bottom: auto;
    height: 100vh; }
  .menu__link {
    margin: 0; } }

.header-container {
  padding: 0;
  top: 40px; }

.header__background {
  background-image: url("../travel.jpeg");
  background-position: center;
  background-size: cover;
  opacity: 0.8;
  height: 25rem;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.header-background__rectangle {
  display: inline-block;
  width: 30%;
  height: 30%;
  background-color: white;
  color: black;
  opacity: 0.4;
  align-content: center;
  z-index: 20;
  position: absolute; }

.header-background__text {
  position: relative;
  font-family: "Pacifico", cursive;
  z-index: 30;
  color: black;
  font-size: 1rem;
  padding: 20px; }

.main {
  top: 40px; }

.article__title {
  font-family: "Pacifico", cursive;
  font-size: 2rem; }

.article__text {
  font-family: "Work Sans", sans-serif;
  text-align: justify;
  text-indent: 50px; }

@media (max-width: 576px) {
  .header-container {
    top: 0; }
  .header-background__rectangle {
    width: 50%; }
  .main {
    padding: 5px;
    top: 0; }
  .article__text {
    text-indent: 30px;
    font-size: 1.1rem; } }

.aside {
  padding: 10px;
  text-align: center;
  top: 40px; }

.aside-latest__title {
  font-family: "Pacifico", cursive;
  top: 40px; }

.latest__post {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.latest-post__image {
  width: 40%;
  margin-bottom: 20px;
  opacity: 0.8; }

.latest-post-image__mini {
  width: 100%;
  transition: transform 0.7s ease; }
  .latest-post-image__mini:hover {
    transform: translateX(-10px); }
  .latest-post-image__mini:active {
    transform: translateY(10px); }

.latest-post__text {
  padding: 5px;
  font-size: 2rem;
  text-align: center;
  width: 50%; }

.latest-post-text__link {
  font-family: "Work Sans", sans-serif; }
  .latest-post-text__link:link {
    text-decoration: none;
    color: black; }
  .latest-post-text__link:hover {
    color: black; }

.latest-post-text-link__date {
  font-family: "Work Sans", sans-serif;
  font-size: 0.8rem;
  color: black; }

.aside-search__input {
  font-family: "Work Sans", sans-serif; }

.search-input__query {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc; }
  .search-input__query:focus {
    outline: none; }

.search-input__button {
  width: 70%;
  border-radius: 4px;
  border: none;
  background: linear-gradient(to bottom right, #bcd5d6, #49a6a8);
  color: white;
  margin: 8px 0;
  cursor: pointer;
  transition: all .07s ease;
  padding: 14px 20px;
  cursor: pointer; }
  .search-input__button:focus {
    outline: none; }
  .search-input__button:hover {
    transform: scale(1.1); }
  .search-input__button:active {
    border-color: #ffc600;
    box-shadow: 0 0 1rem #495f77; }

@media (max-width: 576px) {
  .latest-post-text-link__date, .latest-post-text__link {
    font-size: 1.0rem; }
  .aside-latest__title {
    font-family: "Pacifico", cursive;
    bottom: 40px; } }

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-left: 5px;
  background: #495f77;
  top: 40px;
  flex-wrap: wrap;
  justify-content: space-around; }

.footer__title {
  font-family: "Pacifico", cursive;
  font-size: 30px;
  color: white; }

.footer__links, .footer__subscribe {
  display: block; }

.footer-links__list {
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: center;
  color: white; }

.fl-list-item__icon {
  color: white;
  transition: transform .07s ease; }
  .fl-list-item__icon:hover {
    transform: scale(1.2); }
  .fl-list-item__icon:link {
    color: white;
    text-decoration: none; }
  .fl-list-item__icon:active {
    text-decoration: none; }
  .fl-list-item__icon:visited {
    color: white; }

.fl-list__item {
  display: inline-block;
  margin: 5px;
  font-size: 30px; }

.footer-subscribe__input {
  font-family: "Work Sans", sans-serif; }

.subscribe__e-mail {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block; }
  .subscribe__e-mail:focus {
    outline: none; }

.subscribe__button {
  border-radius: 4px;
  border: none;
  background: linear-gradient(to bottom right, #bcd5d6, #49a6a8);
  color: white;
  margin: 8px 0;
  cursor: pointer;
  transition: all .07s ease;
  width: 80%;
  padding: 14px 20px; }
  .subscribe__button:focus {
    outline: none; }
  .subscribe__button:hover {
    transform: scale(1.1); }
  .subscribe__button:active {
    border-color: #ffc600;
    box-shadow: 0 0 1rem white; }

@media (max-width: 576px) {
  .footer__title {
    font-size: 2rem; }
  .fl-list-item__icon {
    margin: 0;
    font-size: 2rem;
    margin: 5px; }
  .footer-subscribe__input, .aside-search__input {
    font-size: 1rem; } }

* {
  padding: 0;
  box-sizing: border-box; }

@media (max-width: 576px) {
  * {
    font-size: 0.7rem; } }
