.header-container{
      padding: 0;
      top: 40px;
}

.header__background {
    background-image: url('../travel.jpeg');
    background-position: center;
    background-size: cover;
    opacity:0.8;
    height: 25rem;
    background-repeat: no-repeat;
    @include position-settings
  }

.header-background__rectangle {
    display: inline-block;
    width: 30%;
    height: 30%;
    background-color: $color-bg;
    color: $color-text;
    opacity: 0.4;
    align-content: center;
    z-index: 20;
    position: absolute;
  }

.header-background__text {
    position: relative;
    font-family: $font;
    z-index: 30;
    color: $color-text;
    font-size: 1rem;
    padding: 20px;
}

.main {
    top: 40px;
}

.article__title {
    font-family: $font;
    font-size: 2rem;
}

.article__text {
    font-family: $font2;
    text-align: justify;
    text-indent: 50px;
}

@media (max-width: 576px) {

    .header-container {
        top: 0;
    }

    .header-background__rectangle {
        width: 50%;
    }

    .main {
        padding: 5px;
        top: 0;
    }

    .article__text {
        text-indent: 30px;
        font-size: 1.1rem;
    }
}
