.footer {
    @include position-settings
    padding: 20px;
    margin-left: 5px;
    //background: #79abae;
    background: #495f77;
    top: 40px;
    flex-wrap: wrap;
    justify-content: space-around;
 }

 .footer__title {
    font-family: $font;
    font-size: 30px;
    color: white;
 }

 .footer__links, .footer__subscribe {
    display: block;
 }

.footer-links__list{
    @include lists
    justify-content: center;
    color: white;
}

.fl-list-item__icon {
    color: white;
    transition: transform .07s ease;

    &:hover {
      transform: scale(1.2);
    }

    &:link {
        color: white;
        text-decoration: none;
    }

    &:active {
        text-decoration: none;
    }

    &:visited {
        color: white;
    }
}

.fl-list__item {
    display: inline-block;
    margin: 5px;
    font-size: 30px;
}

.footer-subscribe__input{
    font-family: $font2;
}

.subscribe__e-mail{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    &:focus {
        outline: none
    }
}

.subscribe__button {
    @include buttons (white)
    width: 80%;
    padding: 14px 20px;
}

@media (max-width: 576px) {
    .footer__title {
        font-size: 2rem;
    }

    .fl-list-item__icon {
        margin: 0;
        font-size: 2rem;
        margin: 5px;
    }

    .footer-subscribe__input, .aside-search__input {
        font-size: 1rem;
    }
}
