$color-bg: white;
$color-text: black;
$border: 1px solid red;
$enable-flex: true;
$font: 'Pacifico', cursive;
$font2: 'Work Sans', sans-serif;


@mixin lists {
    list-style-type: none;
    display: flex;
    width: 100%;
}

@mixin buttons ($color) {
    border-radius: 4px;
    border: none;
    background: linear-gradient(to bottom right,#bcd5d6, #49a6a8);
    color: white;
    margin: 8px 0;
    cursor: pointer;
    transition: all .07s ease;

    &:focus {
        outline: none
    }

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        border-color: #ffc600;
        box-shadow: 0 0 1rem $color;
    }
}

@mixin position-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
